[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
setuptools = "*"
pytestgen = {editable = true,path = "."}
pipenv-setup = "*"
pytest = "*"
pyfakefs = "*"
pytest-cov = "*"
munch = "*"
coveralls = "*"
pyyaml = "*"

[packages]
click = "*"
jinja2 = "*"

[requires]
python_version = "3.7"
